*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAV BAR */
a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px;
    background-color: white; 
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    text-decoration: none;
}

.menu li{
    display: inline-block;
    padding: 0 20px;
}

.menu li a{
    transition: all .3s ease;
}

.menu a:hover{
    color: #39f;
}

.blue-btn{
    background: #0061FF;
    border: none;
    padding: 0.6rem;
    color: white;
}
    
    /* cursor: pointer;
    transition: all .3s ease; */

    /* .blue-button:hover{
        background: #39f;
    } */

    /* header */

header {
    max-width: 100vW;
    background-color: #b4d0e7;
    position: relative;
}

.jumbo {
    padding-top: 80px;
    max-width: 1000px;
    height: 550px;
    margin: auto;
    margin-bottom: 100px;
}

.jumbo-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    text-align: left;
    font-size: 70px;
    margin-bottom: 40px;
}

.jumbo-img {
    width: 60%;
    aspect-ratio: 16/9;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.column-left p,
.column-left a,
.column-left span {
    margin-bottom: 30px;
}

.blue-btn{
    background: #0061FF;
    border: none;
    padding: 0.6rem;
    color: white;
}

