/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General settings and style*/

html {
    font-family: sans-serif;
}

body{
    margin-top: 80px;
}

/* container */

.container-small{
    max-width: 1040px;
    margin-inline: auto;
    padding-inline: 20px;
}

.container-big{
    max-width: 1240px;
    margin-inline: auto;
    padding-inline: 20px;
}

/* Button */
.btn{
    display: inline-block;
    padding: .5em .7em;
    white-space: nowrap;
    color: white;
    
}

.btn-blue{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}

header{
    background-color: #b4d0e7;
}

/* NAV BAR */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding-inline-end: 1rem;
    background-color: white;
}

nav ul{
    list-style: none;
}

nav .navbar {
    display: flex;
    height: 100%;
}
nav .navbar > li {
    display: flex;
}

nav .spaced {
    flex-grow: 1;
}

nav .navbar a {
    display: flex;
    align-items: center;
    padding-inline: 1em;
    text-decoration: none;
    color: black;
}

nav .logo img{
    height: 35%;
}

nav .button {
    align-items: center;
}

/* JUMBO SECTION */
header h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

header .jumbo-text{
    display: flex;
    align-items: flex-start;
}

header .jumbo .column-text{
    flex: 0 0 30%;
}

header .jumbo img{
    flex: 0 0 70%;
    min-width: 0;
    margin-bottom: -75px;
}

/* MAIN SECTION  */

main .title h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

main .title{
    display: flex;
    margin-top: 150px;
    flex-direction: column;
}

main .input{
    margin-top: 20px;
    gap: 1px;
}

main .fact2{
    margin-left: 40px;
}

/* BOX */

main .all-box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.box{
   
}

main .icon{
    border: solid 1px lightgrey;
    display: flex;
    justify-content: center;
    padding: 5px;
}

main .box{
    border: solid 1px lightgrey;
    max-width: 300px;
}

main .contets{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 33px;
}

main .contets h1{
    font-size: 1.5rem;
}

main .contets span{
    margin-bottom: 20px;
}

main .user{
    margin-top: 50px;
}

main .spacetop,.shop {
    margin-top: 15px;
}

main .contets h2 {
    font-size: 16px;
    margin-top: 30px;
}

.check-blue{
    color: #0061ff;
}

/* horizontal Box */

.container-horiz{
    border: solid 1px lightgrey;
    margin-top: 30px;
}

main .container-horiz .info{
    margin-top: 50px;
}

/* Section partner */

.find-partner {
    width: 1000px;
    margin: auto;
}

.partner-flex {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.partner-flex > div {
    width: 100%;
    height: 500px;

}

.partner-left {
    flex: 0 0 70%;
}

.partner-left > img {
    max-width: 100%;
    height: 100%;
}

.partner-text {
padding-top: 2rem;
flex: 0 0 30%;
}

.partner-text h3,
.partner-text p{
    padding-bottom: 2rem;
} 

.btn-partner {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: 1px solid black;
}

/* First features */

.dropbox-business {
    width: 1000px;
    margin: auto;
}

.info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature {
    max-width: calc(100% / 3);
    padding-inline: 2rem;
}

.feature img{
    max-width: 70%;
}

.feature h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.feature p {
    font-weight: lighter;
    margin-bottom: 2rem;
}

/* Team box business*/

.team {
    width: 100%;
    height: 1000px;
}

.container-top {
    width: 1000px;
    height: 250px;
    margin: auto;
}

.container-top h2 {
    width: 50%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.container-down {
    display: flex;
}

.container-down > div{
    width: calc(100%/3);
    aspect-ratio: 1 / 1;
}

.box-left,
.box-right {
    display: flex;
    flex-wrap: wrap;
}

.box-left .box,
.box-right .box {
    flex: 0 0 50%; 
    position: relative;
}

 .box img {
    filter: invert(1);
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.a {
    background-color: #A2D39B;
    border: 1rem solid #D1E9CD;
}

.b {
    background-color: #61082B;
}

.c {
    background-color: #0093CE;
}

.d {
    background-color: #FF1C1C;
}

.e {
    background-color: #F5F5F5;
}

.f {
    background-color: #D5001F;
}

.g {
    background-color: #B4D0E7;
}

.h {
    background-color: #0D2481;
}

.i {
    background-color: #FFD830;
}

.box-center {
    padding: 3rem 3rem 3rem 3rem;
}

.box-center img {
    height: 100px;
    margin-bottom: 2rem;
}

.box-center p,
.box-center span {
    font-weight: lighter;
    margin-bottom: 2rem;
}

.box-center p::before {
    content: "";
    display: block;
    width: 120px;
    height:50px;
    border-top: 1px solid #999999;

}
