*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Togliere a fine lavoro */
body{
    background-color: #242424;
}

.menu,a,button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1rem;
}

.menu li{
    display: inline-block;
    padding: 0 20px;
}

.menu li a{
    transition: all .3s ease;
}

.menu a:hover{
    color: #39f;
}

button{
    padding: 9px 25px;
    background: #0061FF;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    margin-left: auto;
}

button:hover{
    background: #39f;
}
